<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>bienvenue</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/trip.css"/>
</head>
<body class="bienvenu-cls">
<div class="form-box" id="login-box">       
            <div class="header">              
            <span style="margin-left: -5%"> Sign In </span>
            </div>               
             <div class="body"><br>
			 <form action="" method="post" name="login" id="login"><div class="form-group">
			 <input name="username" class="form-control" type="text" placeholder="E-mail" value="" id="username">
			  <p id="errorusername" style="color:red;display:none;" > username should be not empty </p>
			 </div>
			 <div class="form-group"><input name="password" class="form-control" type="password" placeholder="Password" value="" id="pass">
			 <p id="errorpassword" style="color:red;display:none;" > password should be empty</p>
			</div>
			 <div class="form-group">
			 <a href="formulaire.html" class="sign-up-cls">Inscrivez-vous maintenant </a>
                        </div>
			 </form>
			 </div>
			 <div class="footer">
			 <input name="submit" type="submit" id="submitbutton" class="btn bg-olive btn-block" value="Login" onclick  ="Login()">
			
			 </div>
			 </div>
			 <footer class="footer-home" id="footer_id">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="row">
                            <div class="col-sm-4 col-md-3">
                                <ul class="nav footer-nav">
                                    <li role="presentation" class="header"><a href= "facebook.html"><img src="../images/logf.png" style="width:12px;height:12px"  /> Facebook</a></li>
                                    <li role="presentation" class="header"><a href="formulaire"><img src="../images/logos.jpeg" style="width:14px;height:14px"/> Instagram</a></li>

                                </li></ul>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
		<script>
function Login() { 
var username = document.getElementById("username").value;
var password = document.getElementById("pass").value;
var alertuser = document.getElementById("errorusername");
var alertpass = document.getElementById("errorpassword");
if(!username){
alertuser.style.display = "block";
}
if(!password){
alertpass.style.display = "block";
}
if(username && password){
alertuser.style.display = "none";
alertpass.style.display = "none";
 location.href = "accueil.html";
}
}
</script>
</body>

</html>